body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #c30000;
  padding: 8px 16px; /* Ajusta el espaciado interno según tus necesidades */
  display: flex;
  align-items: center;
}

.logo-container {
  margin-right: 8px; /* Ajusta el margen según tus necesidades */
}

.logo-container img {
  width: 30px; /* Ajusta el tamaño del ícono según tus necesidades */
}

h1 {
  margin: 0;
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente según tus necesidades */
}
.custom-image {
  height: 150px; /* Establece la altura deseada para las imágenes */
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  object-fit: cover; /* Ajusta la imagen manteniendo la proporción y cubriendo la caja */
}

.custom-card {
  height: 100% !important;
}

.card-body {
  height: 150px !important; /* Establece la altura deseada para el contenido de la tarjeta */
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.btn {
  align-self: flex-end !important; /* Alinea el botón al final del contenedor */
}


body {
  font-family:"Roboto", Arial, sans-serif;
  font-weight: 400;
  background: #221662;
  color: white;
  background-image: linear-gradient(135deg, rgba(228, 217, 217, 0.8) 0%,rgba(149, 156, 149, 0.5) 100%);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.social-button--facebook {
  background-color: #4b70ab; /* Facebook colour */
}

.social-button--facebook:hover {
  background-color: #3f5f91; /* Facebook hover colour */
}
.icon--facebook::before {
  content: '\f09a'; /* Unicode value for the facebook icon in our chosen icon font */
}
[class^="icon--"] {
  font-family: 'FontAwesome'; /* Apply icon font */
  font-style: normal; /* Removes the default italics */
}

/* Estilo común para los botones sociales */
[class^="social-button"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 38px;
  width: 39px;
  font-size: 18px;
  color: white;
  border-radius: 10%;
  text-decoration: none;
  transition: background-color 150ms ease-in-out;
  margin-right: 0.1rem;
  margin-top: -40px; /* Ajusta la distancia hacia arriba según tus necesidades */
}

/* Estilo específico para Instagram */
.instagram {
  background: radial-gradient(circle at 35% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #979aa3 90%);
  width: 45px; /* Ancho igual a la altura para hacerlo cuadrado */
  height: 90px; /* Altura del icono */
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo específico para Facebook */


.icon {
  @include flex(row wrap, center, center);
  width: 10%;
  height: 35px;
  font-size: 2rem;
  margin-top: -40px; /* Ajusta este valor según sea necesario para subir el icono */
  color: white; /* Color blanco */
}


